
@{
    ViewData["Title"] = "Отправка push сообщения";
}

<form method="post">
    Application Token <input type="text" name="app_token" /><br />
    User Key <input type="text" name="user_key" /><br />
    Текст сообщения <input type="text" name="text" /><br />
    <input type="submit" />
</form>